@charset "utf-8";
.General {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #333;
	background-color: #FFF;
}
	body{
	margin: 5px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 62.5%;
	background-color: #FFF;
}
			.demoHeaders {
	margin-top: 2em;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: 8db4e3;
	text-align: center;
}
			#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
			#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
			ul#icons {margin: 0; padding: 0;}
			ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
			ul#icons span.ui-icon {float: left; margin: 0 4px;}

.tabel_index {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	text-align: center;
	vertical-align: top;
	background-color: #8db4e3;
	color: #000;
	font-weight: bold;
}
.tabel_number {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
	color: #000;
	background-color: #F7F3F7;
}
.tabel_header {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	text-align: center;
	color: #000;
	background-color:#79baec;
	font-weight: bold;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align: middle;
}
.tabel_body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	text-align: left;
	vertical-align: middle;
	background-color:#c5d9f1 ;
}
table tr:nth-child(even) {
  background:#FFF;
}

.number_mkt {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	vertical-align: middle;
	color: #000;
	background-color:#c5d9f1;
}
table tr:nth-child(even) {
  background:#FFF;
}

.judul {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
	text-align: center;
	vertical-align: middle;
}
.menu_tabel {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	color: #000;
	background-color: #F7F3F7;
	font-weight: bold;
}
.isi_view {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	text-decoration: underline;
}
.marque {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #03F;
}
.tombol {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	text-align: center;
	background-color: #F7F3F7;
}
.detail {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	text-align: left;
	background-color: #F7F3F7;
}
.root {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	background-color: #8db4e3;
	color: #000;
	font-weight: normal;
}
.pesan {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	background-color: #FFF;
	color: #F00;
	font-weight: normal;
}
.huruf_besar{
text-transform:capitalize;
} 
.hidentext {
 left: 0;
 top: 0;
 visibility: hidden;
}
.textarea {
	color:#000;
	font-weight:bold;
	
}
.buatform {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	vertical-align: top;
	color: #000;
}
.sizewpr {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	background-color:#c5d9f1 ;
	color: #000;
	font-weight: normal;
}
.header_description {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	vertical-align: top;
	color: #000;
	font-weight: bold;
	background-color:#c5d9f1 ;

}

.headerwpr {
	font-family: Tahoma, Geneva, sans-serif;
	text-align: left;
	background-color:#F8CBAD ;
	font-size: 11px;
	vertical-align:middle;
	color: #000;
	font-weight: normal;
	text-align: center;
	font-weight: bold;
}

.contenthdr{
	font-weight:600;
	border:1px solid #333333;
	font-size:12px;
}

			table {border-collapse:collapse;}
			.tdclass{border-right:1px solid #333333;}
			body{
	font: 75.5% "Trebuchet MS", sans-serif;
	margin: 50px;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}
			.demoHeaders { margin-top: 2em; }
			#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
			#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
			ul#icons {margin: 0; padding: 0;}
			ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
			ul#icons span.ui-icon {float: left; margin: 0 4px;}
.headerdate {	text-align: left;
}
.headertable {
	text-align: center;
	color: #FFF;
	font-weight: 900;
}
body,td,th {
	font-family: Tahoma, Geneva, sans-serif;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
